<navigation-menu></navigation-menu>
<div class="work_bg">
  <section class="work_area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="work_title text-center">
            <h2>How it works</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="work_item">
          <div class="col-sm-6">
            <div class="left_content">
              <p>Lorem ipsum dolor sit amet,
              <br/>consectetur adipiscing elit. Mauris purus dui,
              <br/>congue rhoncus sodales vitae, tristique a est.
              <br/>Integer convallis ipsum tellus, sed consectetur
              <br/>eros egestas vitae. Quisque quis nibh risus.
              <br/>Maecenas ac iaculis nibh. Proin a magna non
              <br/>sem dapibus commodo. Integer ac sem dui.
              <br/>Ut id mi lacinia lorem interdum aliquet vitae et libero. </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="right_image">
              <img src="/assets/img/work.png" alt=""/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="work_item">
          <div class="col-sm-6">
            <div class="left_image">
              <img src="/assets/img/work.png" alt=""/>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="right_content">
              <p>Lorem ipsum dolor sit amet,
              <br/>consectetur adipiscing elit. Mauris purus dui,
              <br/>congue rhoncus sodales vitae, tristique a est.
              <br/>Integer convallis ipsum tellus, sed consectetur
              <br/>eros egestas vitae. Quisque quis nibh risus.
              <br/>Maecenas ac iaculis nibh. Proin a magna non
              <br/>sem dapibus commodo. Integer ac sem dui.
              <br/>Ut id mi lacinia lorem interdum aliquet vitae et libero. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
