<navigation-menu></navigation-menu>

<div class="work_bg">
  <section class="signin-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div>
            <form class="account-form" (ngSubmit)="onSubmit()" #createAccountForm="ngForm">
              <input [(ngModel)]="account.username" name="username" type="text" placeholder="username" required /><br><br>
              <input [(ngModel)]="account.password" name="password" type="password" placeholder="password" required /><br><br>
              <input [(ngModel)]="account.email" name="email" type="email" placeholder="email" required /><br><br>
              <input [(ngModel)]="account.address.housenumber" name="housenumber" type="text" placeholder="house number" required /><br><br>
              <input [(ngModel)]="account.address.city" name="city" type="text" placeholder="city" required /><br><br>
              <input [(ngModel)]="account.address.postcode" name="postcode" type="text" placeholder="post code" required /><br><br>
              <input type="submit" id="submit-account-button" value="Create account" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
