<navigation-menu></navigation-menu>
<section class="main_area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="home_logo text-center">
          <a href="/"><img src="/assets/img/home_logo.png" alt=""/>
          </a>
        </div>
        <div class="search text-center">
          <form action="">
            <div class="input-group">
              <input type="text"
                     class="form-control"
                     placeholder="what would you like to eat ?"
                     aria-describedby="basic-addon1">
              <span class="input-group-addon" type="submit" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="submit" value="suprise me!"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
