<navigation-menu></navigation-menu>
<div class="order_bg">
  <section class="order_area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="work_title text-center">
            <h2>Your Orders</h2>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="address">
            <p><span style="font-weight: bold">Henk Smeulders</span>
            <br>Delivery Address:
            <br/>Halter Camp 435,
            <br/>Amsterdam,
            <br/>Netherlands
            <br><br>Total price: {{ totalPrice }}</p>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let order of orders">
        <div class="order_item">
          <div class="col-sm-4">
            <div class="order_thunb">
              <img src="/assets/img/order.png" alt="order"/>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="pizza">
              <p>{{ order.name }}
              <img src="/assets/img/pizza_logo.png" alt="pizza"/>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="way text-center">
              <img src="/assets/img/way.png" alt="pizza"/>
              <p>{{ order.deliveryStatus }}</p>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="price text-right">
              <p>{{ order.price }}</p>
            </div>
          </div>
        </div>
      </div>
      <hr/>
    </div>
    <button (click)="updateOrders()" type="button">update orders</button>
  </section>
</div>
