    <!-- navigation sign -->
    <header class="header_area" >
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="to-close pull-right">
              <div class="x">
                <input type="checkbox" id="menu-x"/>
                <label for="menu-x" popup><span></span></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- navigation popup -->
    <div class="menu_body">
      <section class="mainmenu_area">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="mainmenu text-center">
                <ul id="nav">
                  <li><a href="/">home</a></li>
                  <li><a href="/static/work.html">how it works</a></li>
                  <li><a href="/static/order.html">your order</a></li>
                  <li><a href="/static/sign-in.html">sign in</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
